
.hero-about {
    padding-top: 126px;
    padding-bottom: 150px;
    position: relative;
}
.hero-about .info {
    max-width: 425px;
}
.hero-about .info .were{
    font-size: 12px;
    margin-bottom: 38px;
}
.hero-about .info .color {
    color: #E47500;
}
.hero-about .info h1 {
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 25px;
}
.hero-about .info p {
    margin-bottom: 57px;
}
.hero-about .info button {
    background: #FA8305;
    color: #fff;
    border-radius: 50px;        
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}
.hero-about .info button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.hero-about .info button img {
    padding-left: 18px;
}
.hero-about > img {
    position: absolute;
    right: -150px;
    top: -10px;
}

.work {
    padding-bottom: 147px;
    padding-top: 50px;
}
.work h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 63px;
}
.work .blocks {
    display: flex;
    justify-content: space-between;
}
.work .blocks .block {
    background: #1C140F;
    width: 25%;
    padding: 64px 37px;
    border-radius: 15px;
}
.work .blocks .block h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 19px;
    margin-bottom: 16px;
}
.work .blocks .block p {
    font-size: 14px;
    max-width: 300px;
}
.work .blocks .badge {
    font-size: 14;
    font-weight: 400;
    padding: 6px 24px;
    border-radius: 7px;
}
.work .blocks .badge.purple {
    background: rgba(176, 0, 220, 0.11);
}
.work .blocks .badge.brown {
    background: rgba(220, 66, 0, 0.11);
}
.work .blocks .badge.green {
    background: rgba(0, 220, 141, 0.11);
}

/* ssssss */
.description {
    background: #1C140F;
    padding-top: 113px;
}
.description .descr {
    display: flex;
    justify-content: space-between;
}
.description img {
    width: 496px;
    max-height: 490px;
}
.description .block{
    max-width: 530px;
    margin-top: 21px;
}
.description .block span {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
}
.description .block h3{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* our team */
.team {
    padding-top: 148px;
    padding-bottom: 157px;
}
.team h3{
    font-size: 25px;
    font-weight: 600px;
    margin-bottom: 53px;
}
.team .blocks {
    display: flex;
    justify-content: space-between;
}
.team .blocks .block {
    background: #1C140F;
    border-radius: 15px;
    max-width: 280px;
    padding: 35px 75px 30px;
    text-align: center;
}
.team .blocks .block img {
    max-width: 123px;
}
.team .blocks .block h4 {
    font-size: 19px;
    font-weight: 600;
}
.team .blocks .block span {
    font-size: 16px;
    font-weight: 300;
    color: #E8E8E8;
}