@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    background: linear-gradient(180deg, #000000, #1A0E01);
    overflow-x: hidden;
}
.container {
    width: 1146px;
    margin: 0 auto;
}
header {
    padding: 50px 0;
}
header .logo {
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
header nav {
    float: right;
    width: 50%;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a{
    color: #fff;
}
header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: -15px;
}
header nav ul li:not(.active):not(.btn) a:hover {
    border-bottom: 5px solid #DC7000;
}
header nav ul li.btn a {
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover {
    background: #DC7000;
}

.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero--info {
    width: 530px;
    padding-top: 116px;
}
.hero--info h2{
    color: #E87D0E;
    font-size: 20px;
    font-weight: 600;
}
.hero--info h1{
    font-size: 50px;
    font-weight: 600;
}
.hero--info p {
    font-weight: 500;
    line-height: 170%;
    margin-top: 26px;
    margin-bottom: 50px;
}
.hero--info .btn {
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}
.hero--info .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.hero img {
    position: absolute;
    top: -150px;
    right: -90px;
}

/* Game section */
.trending{
    padding-top: 132px;
    padding-bottom: 120px;
}
.trending h3 {
    font-size: 31px;
    font-weight: 700;
    padding-bottom: 57px;
}
.trending .see-all, .projects .see-all{
    color: #fff;
    background: #25211D;
    border-radius: 5px;
    padding: 10px 30px;
    float: right;
    display: block;
    transition: all 500ms ease;
}
.trending .see-all:hover, .projects .see-all:hover {
    transform: scale(1.1);
}
.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.trending .games span {
    margin-top: 25px;
    text-align: center;
    display: block;
}
.trending .games span img{
    position: relative;
    margin-right: 7px;
    top: 5px;
}

.big-text {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 67px;
    text-align: center;
    width: 826px;
}

.banner h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 32px;
}
.banner p {
    line-height: 170%;
    margin-bottom: 46px;
    width: 545px;
}
.banner img {
    width: 100%;
    margin-bottom: 157px;
}

/* section features */
.features {
    padding-top: 93px;
    padding-bottom: 32px;
    background: url('/img/features_back.png')no-repeat center center fixed;
    background-size: cover;
}
.features h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}
.features p {
    max-width: 830px;
    margin-bottom: 39px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.features .info .block {
    text-align: center;
    width: 20%;
    margin: 60px 2%;
}
.features .block p {
    margin: 25px 0;
}

/* Projects */

.projects {
    padding-top: 140px;
    padding-bottom: 65px;
}
.projects h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}
.projects p {
    text-align: center;
    margin-bottom: 71px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.projects .images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}
.projects .see-all {
    float: none;
    width: 70px;
    text-align: center;
    margin: 40px auto;
}

/* sec email */

.email {
    padding-bottom: 163px;
}
.email h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 32px;
}
.email p {
    margin-bottom: 74px;
    max-width: 545px;
}
.email .block {
    display: flex;
    justify-content: space-between;
    background: #1C140F;
    border-radius: 20px;
    align-items: center;
    padding: 40px 3%;
    width: 94%;
}
.email .loop h4 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.email .loop p {
    max-width: 500px;
    font-size: 17px;
    margin-bottom: auto;
}

.email .block input {
    outline: none;
    background: #fff;
    border: 0;
    border-radius: 5px;
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding: 15px 25px;
    position: relative;
    right: -100px;
    padding-right: 106px;
    z-index: 1;
}
.email .block input::placeholder{
    color: #898989;
}

.email button {
    background: #DC7000;
    font-size: 13px;
    color: #fff;
    padding: 10px 18px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    transition: all 500ms ease;
    position: relative;
    z-index: 2;
}
.email button:hover {
    background: #eb8417;
    transform: scale(1.03);
}


/* footer */
footer {
    background: #070707;
    padding-top: 79px;
    padding-bottom: 29px;
}

footer span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;

}
footer .blocks {
    display: flex;
    justify-content: space-between;
}
footer .foot_logo p {
    max-width: 370px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 25px;
    margin-top: 15px;
}
footer .foot_logo a {
    text-decoration: none;
    color: inherit;
}

footer .about h5, .contact h5 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .about ul {
    list-style: none;
    opacity: 0.75;
}

footer .contact h5 {
    margin-bottom: 20px;
}

footer .contact p {
    max-width: 282px;
    margin-bottom: 11px;
}
footer .contact a, .about a {
    color: inherit;
}
footer .links {
    max-width: 250px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}

footer hr {
    border: 0;
    height: 0.8px;
    background: #D2D2D2;
    margin-top: 53px;
    margin-bottom: 29px;
}
footer > p {
    font-size: 13px;
    text-align: center;
}

